
<div class="row product-details" *ngIf="productData">
  <div class="col-sm-6">
    <img class="product-image" src="{{productData.image}}" alt="">
  </div>
  <div class="col-sm-6">
    <div class="details">
     <!-- <h1>{{productData.name}}</h1>
     <p>{{productData.description}}</p>
        <p>Price: {{productData.price | currency: 'USD'}}</p>
        <button class="btn btn-primary" >Add to Cart</button>
         -->
    <h1>{{productData.name}}</h1>
    <h3>Price : {{productData.price | currency:'INR'}}</h3>
   <div>
    Color:
    <h5  [style.backgroundColor]="productData.color" class="product-color" ></h5>
   </div>
   <h6>Category : {{productData.category}}</h6>
   <h6>description : {{productData.description}}</h6>
  <div class="btn-group">
    
      
      <button *ngIf="!removeCart" class="btn btn-primary" (click)="AddToCart()">Add to Cart</button >
        <button *ngIf="removeCart" class="btn btn-primary" (click)="removeToCart(productData.id)">Remove to Cart</button >
  </div>
   <br>
   
   <div class="quantity-group">
    <button (click)="handleQuantity('min')" >-</button>
    <input type="text" value="{{productQuantity}}">
   <button (click)="handleQuantity('plus')" >+</button>
   </div>

  
   
    </div>
  </div>
</div>