.search-item{
    width: 800px;
    margin: 25px auto;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.search-item img{
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.search-item h6{
    color: dodgerblue;
    font-size: 24px;
}


.search-item p{
    margin-bottom: 5px;
}
